# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
bin/
build/
!data/